@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

html {
  height: 100%;
}
body {
  height: 100%;
}

.layout {
  background-image: url("./layout/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.form_reg {
  box-shadow: 3px 0px 7px 2px rgb(137, 136, 136);
}
.input_layout {
  margin: 0 2px;
  border: 1px solid rgb(26, 21, 21);
  border-radius: 20px;
  padding: 6px 6px;
  outline: none;
  width: 100%;
}
.layout_user {
  width: 16px;
  height: 20px !important;
}
.admin_images {
  background-image: url("./components/admin/admin-page/Background\ \(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.login_btn {
  border: 2px solid #ff5c00;
}
.num_btn {
  border: 1px solid white;
  border-radius: 20px;
}
.back_dash {
  border: 1px solid rgb(120, 118, 118);
  border-radius: 100%;
  height: 50px;
  width: 50px;
}
.nav_dash {
  border-bottom: 1px solid rgb(98, 98, 98);
}
.sidbar_gradient:hover {
  background: linear-gradient(218.57deg, #ffab18 -6.67%, #ff2197 137.69%);
}
.sidbar_gradient_pay {
  background: linear-gradient(218.57deg, #ffab18 -6.67%, #ff2197 137.69%);
}
.sidebar_right {
  border-right: 1px solid rgb(98, 98, 98);
}
.cust_buy {
  box-shadow: 3px 3px 10px 10px rgb(223, 221, 221);
}
.cust_inpt {
  border: 1px solid rgb(98, 98, 98);
}
.bor_left {
  border-left: 1px solid rgb(98, 98, 98);
}
.tran {
  transition: all 0.3s;
}
<<<<<<< HEAD
.nav_dini{
  border: 1px solid rgb(98, 98, 98);
}

=======
>>>>>>> 1cca2453414c1e7dcbdecb0453f0da88c59a81c2
